.albumContainer {
  background: #F0F0F0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.album {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.albumItem {
  /* width: calc(100% / 2 - (1rem * 1 / 2)); */
}

.photo {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  min-width: 155px;
}

.add {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.first{
  grid-area: 1/1/3/2;
  aspect-ratio: 155/200;
}

.second{
  grid-area: 1/2/2/3;
  aspect-ratio: 155/100;
}

.third{
  grid-area: 3/1/4/2;
  aspect-ratio: 155/100;
}

.fourth{
  grid-area: 2/2/4/3;
  aspect-ratio: 155/200;
}