.carouselPhoto {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: orange;
  cursor: pointer;
}

.carouselPhoto {
}

.photo {
  width: 140px;
  height: 100px;
  object-fit: cover;
}

.photoActive {
  border-radius: 0 0 0 1rem;
  width: 180px;
}

.active {
  /* width: 175px; */
}

.description {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.5rem;
  color: white;
}

